<%-include("partials/adminHeader")-%>
<div class="main-container">
  <div class="item">
    <h1>Product Management</h1>

    <a href="/add-product"><button class="btn btn-lg btn-outline-dark">Add New Product</button></a>

  </div>

  <div class="item product-board container" style="text-align: center; " id=table>
    <div class="row header">
      <div class="col-2">
        <p>Name</p>
      </div>
      <div class="col-2">
        <p>Category</p>
      </div>
      <div class="col-2">
        <p>Description</p>
      </div>
      <div class="col-2">
        <p>Price</p>
      </div>

      <div class="col-2">
        <p>Photo</p>
      </div>
      <div class="col-2">

      </div>
    </div>
    <%products.forEach(item=>{%>
    <div class="row">
      <div class="col-2">
        <p><%=item.name%></p>
      </div>
      <div class="col-2">
        <p><%=item.category%></p>
      </div>
      <div class="col-2">
        <p><%=item.description%></p>
      </div>
      <div class="col-2">
        <p><%=item.price%></p>
      </div>
      <div class="col-2">
        <img class="product-img" src="<%=item.photo%>" alt="">
      </div>
      <div class="col-2">
        <div class="row edit">
          <div class="col-4" id="edit">
            <i class="far fa-edit"></i>
          </div>
          <div class="col-4 delete-button">
            <i class="fa fa-times"></i>
          </div>
          <div class="col-4">
            <i class="fa fa-check"></i>
          </div>
        </div>

      </div>
    </div>
    <%})%>

  </div>
</div>

<%-include("partials/adminFooter")-%>