<%-include("partials/header")-%>

<%# CONTENT GOES HERE %>

<h1 id="cart-head" style="text-transform: uppercase; letter-spacing: 3px; ">Cart Information</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 ">


      <!-- Cart Elements -->
      <div class="cartElements">


        <div class="row">
          <div class="col-2 ">

          </div>
          <div class="col-2 ">
            <p class="c-title">Name</p>
          </div>
          <div class="col-2">
            <p class="c-title">Size</p>
          </div>
          <div class="col-2 ">
            <p class="c-title">Price</p>
          </div>
          <div class="col-2 ">
            <p class="c-title">Amount</p>
          </div>

          <div class="col-2">
            <form action="cart?_method=PATCH" method="POST">
              <button><i class="fas fa-backspace"></i></button>
            </form>
          </div>
        </div>

        <!-- For each cart element -->
        <form action="/cart" method="post">
          <%listProduct.forEach(item => {%>
          <div class="row">
            <div class="col-2">
              <img class="cartImg" src="<%=item.product.photo%>" alt="">
            </div>
            <div class="col-2">
              <p><%=item.product.name%></p>
            </div>
            <div class="col-2">
              <p><%=item.size%></p>
            </div>
            <div class=" col-2">
              <p><%=item.price%></p>
            </div>
            <div class="col-2">
              <form method="POST" action="/cart?_method=PUT">
                <input type="number" name="amount" min="1" value="<%=item.amount%>" size="10">
                <input type="hidden" name="size" value="<%=item.size%>">
                <input type="hidden" name="productID" value="<%=item.product._id%>">
                <input type="hidden" name="price" value="<%=item.price%>">



            </div>

            <div class="col-2">
              <button><i class="fa fa-trash"> </i></button>
            </div>
        </form>
      </div>
      <%})%>


      <div class="row">

        <div class="col-6 ">

        </div>
        <div class="col-2">
          <p class="c-title">Subtotal</p>
        </div>
        <div class="col-2">
          <p><%=totalPrice%></p>
        </div>

        <div class="col-2">
          <button>Check Total</button>
        </div>
        </form>
      </div>

    </div>
  </div>

  <!-- Cart Total -->
  <div class="col-md-4">
    <div class="cartTotal">
      <div class="row">
        <div class="col-6">
          <h5>Total Items </h5>
        </div>
        <div class="col-6">
          <h5><%=numberOfItem%></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h5>Subtotal</h5>
        </div>
        <div class="col-6">
          <h5><%=totalPrice%></h5>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-6">
          <h5>Tax </h5>
        </div>
        <div class="col-6">
          <h5>5%</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h5>Shipping Fee</h5>
        </div>
        <div class="col-6">
          <h5>30000</h5>
        </div>
      </div>
      <hr class="my-4">

      <div class="row">
        <div class="col-6">
          <h5> TOTAL</h5>
        </div>
        <div class="col-6">
          <h5><%=totalPrice+30000%></h5>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="container-fluid ">

</div>
<hr class="my-4">

<div class="shippingInfo">
  <h1 style="text-transform: uppercase; letter-spacing: 1px;">Shipping Information</h1>
  <form class="" action="#" method="post">
    <div class="form-group row ">
      <div class="col-sm-4 ">
        <label for="name" class="col-form-label-lg">Customer Name </label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" type="text" name="cusName" id="name" value="" placeholder="First Name - Last Name">
      </div>
    </div>

    <div class="form-group row ">
      <div class="col-sm-4 ">
        <label for="contact" class="col-form-label-lg">Contact </label>

      </div>
      <div class="col-sm-8">
        <input class="form-control" type="tel" name="contact" id="contact" value="" placeholder="093-123-456">
      </div>
    </div>

    <div class="form-group row ">
      <div class="col-sm-4 ">
        <label for="email" class="col-form-label-lg">Email </label>

      </div>
      <div class="col-sm-8">
        <input class="form-control" type="email" name="email" id="email" placeholder="abc@gmail.com">
      </div>
    </div>

    <div class="form-group row ">
      <div class="col-sm-4 ">
        <label for="address" class="col-form-label-lg">Address </label>

      </div>
      <div class="col-sm-8">
        <input class="form-control" type="address" name="address" id="address"
          placeholder="123 Nguyen Thi Minh Khai Street, Ward 20, District 1">
      </div>
    </div>
    <div class="row c-checkout">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <a href="/product" class="button btn btn-lg btn-outline-dark checkout"><span><i
              class="fa fa-angle-double-left"></i></span>Continue
          Shopping</a>
      </div>
      <div class="col-md-4">
        <a href="/checkout" class="button btn btn-lg btn-outline-dark checkout">
          Checkout<span><i class="fa fa-arrow-circle-right"></i></span></a>
      </div>
      <div class="col-md-2"></div>
    </div>

  </form>
</div>
</div>

<%-include ("partials/footer")-%>